In [1]:
def tables(a, b):
    for i in a(a, a+1):
        for z in b(b, b+1):
            print(f"{i} {z}")
        #i = i + 1
        
tables(1,1)

TypeError: 'int' object is not callable

In [ ]:
def add(a, b):
    c = a+b
    print(c)
add(2,3)

In [ ]:
def tables(a, b):
    for i in a:
        print(f"{i}")
        i = i +1
        
tables(0)

In [ ]:
a = 1
b = 5
#z = 5
for a in range(1, a+1):
    if a <= b:
        a = a +1
#        print(f"{a}")
    #while a <= b: 
        print(f"{a}")
    #a = a+1
#    for c in range(z, z+1):
    #b = b + 1
 #       print(f"{b} {c}")

In [ ]:
def tables(m, n):
    for a in range(m, m+1):
        for i in range(1, n+1):
            print(f"{a}")
tables(1,6)

In [ ]:
a = "J"
b = "A"
c = "C"
d = "K"
print(a,b,c,d)
print(a+b+c+d)


number = (1,2,3,4,5)
number1 = 1,2,3,4,5
print(number)
print(number1)

In [ ]:
name = "jack"
for i in name:
    print(i)

In [ ]:
number2 = [5,4,3,2,1]
number1 = [1,2,3,4,5]

for n in range(0,3):
    print(n)

In [ ]:
number2 = [5,4,3,2,1]

name = "Jack"
number3 = 5
number4 = 4

#number1 = [1,2,3,4,5]
total_number = number3 * number4
print (total_number)

for n in name, number2:
    print(n)

In [ ]:
#number5 = [9,8,7,6,5]
i = [1,2,3]
y = ("a","b","c")
for z in range(0,3):
    #print(i)
    for x in range(0,3):
            print(y)
        
    #print(z, number5)
        
    print(i)

In [ ]:
i = [1,2,3]
#j = (1,2,3)

y = ("a","b","c")
for z in i:
    print(z, i)
    #print(j)

In [ ]:
#number5 = [9,8,7,6,5]
i = (1,2,3)
y = ("a","b","c")
for z in range(0,3):
    print(i)
    for x in range(0,3):
            print(y)
        
    #print(z, number5)
        
#    print(i)

In [ ]:
#number = int(input("Enter the number> "))
#rows = int(input("Enter the rows> "))
#columns = int(input("Enter the colums> "))
number = 1
for i in range(1,5+1):    
    print(f"{number}"*5)

In [ ]:
number = int(input("Enter the number> "))
rows = int(input("Enter the rows> "))
columns = int(input("Enter the colums> "))
for i in range(1,rows+1):    
    print(f"{number}"*columns)

In [ ]:
number = int(input("Enter the number> "))
rows = int(input("Enter the rows> "))
columns = int(input("Enter the colums> "))

def table():
    for i in range(1,rows+1):
        print(f"{number}"*columns)
table()

In [ ]:
a = [1,2,3,4,5]
for i in a:
    print(i)

In [ ]:
list = [1,2,3,4,5]
def table2():
    for i in list:
        y = i*2
        e = i*3
        f = i*4
        g = i*5
        print(i,y,e,f,g)
table2()

In [ ]:
table_no = int(input("Enter the number> "))
list_app = []
for i in range(0,table_no):
    #print(i)
    i = i + 1
    list_app.append(i)
    print(list_app)

In [ ]:
table_no = int(input("Enter the number> "))
list_app = []
for i in range(0,table_no):
    i = i + 1
    list_app.append(i)
    

list = list_app
def table2():
    for i in list:
        y = i*2
        e = i*3
        f = i*4
        g = i*5
        print(i,y,e,f,g)
table2()

In [ ]:
table_no1 = int(input("Enter the number> "))
list_app1 = []
list = list_app1

def table2():

    for i in range(0,table_no1):
        i = i + 1
        list_app1.append(i)
    
    for i in list:
        #z1 = i*1
        y1 = i*2
        e1 = i*3
        f1 = i*4
        g1 = i*5
        print(i,y1,e1,f1,g1)
table2()

In [ ]:
table_no1 = int(input("Enter the number> "))
list_app1 = []
list = list_app1

def table2():

    for i in range(0,table_no1):
        i = i + 1
        list_app1.append(i)
    
    for iw in list:
        iw = iw+1
        
        
        iw = iw + 1
        # y1 = i*2
        # e1 = i*3
        # f1 = i*4
        # g1 = i*5
        print(iw,y1,e1,f1,g1)
table2()

In [ ]:
yz = [1,2,3,4,5]
ab = (1,2,3,4,5)

for i in yz:
    print(i)
    
print ("\n")

for j in range(1,5+1):
    print(j)

In [ ]:
cd = [5,4,3,2,1]

for dc in (cd[:-1]):
    print(dc)

print('\n')
print(cd)

In [ ]:
a = [0]
for iw in a:
    iw = iw+1
    print(f"{iw}")
    a.append(iw)
    if iw == 6:
        #print(f"{iw}")
        break

In [ ]:
a = [0]
for iw in a:
    iw = iw+1
    #print(f"{iw}")
    a.append(iw)
    print(f"{iw}*{iw}")
    if iw == 6:
        #print(f"{iw}")
        break

In [ ]:
table_no1 = int(input("Enter the number> "))
list_app1 = []
list = list_app1
a = [0]

def table2():

    for i in range(0,table_no1):
        i = i + 1
        list_app1.append(i)
    
    for i in list:
        for iw in a:
            iw = iw+1
            a.append(iw)
            print(f"{iw}*{iw}")
            if iw == table_no1:
                break
    #z1 = i*1
    #y1 = i*2
    #e1 = i*3
    #f1 = i*4
    #g1 = i*5
    #print(i,y1,e1,f1,g1)
    print(i)
table2()

In [ ]:
biggest1=[1,2,3,4,5]
print(len(biggest1))
print(f"{biggest1}")
print(f"{a}")

In [ ]:
num1 = (99,32,53,14,85)
num2 = [99,32,53,14,85]
num3 = ([99,32,53,14,85])

num4 = (num2[1:4])
#print(num2[0:2])
print(num2[0])
print(num4)
print(num3[0])
print(num1[0])

#print(num4)

In [ ]:
#use .join
#for _ in range(n) if you are note using the variable
"""
def tables(n):
    for i in range(n):
        row = []
        for j in range(n):
        q = '.'
        row.append(q)
    print(' '.join(row))
    
        
        
        
        
"""

numbers = ([1,5,9,20,7,-5,23,4,12])
#print(len(numbers))

n1 = numbers[0]
n2 = numbers[1]
for ni in range(1,len(numbers)+1):
    
    if n1 >= n2:
        n1 = n1
    else:
        n1 = n2
    
    #ni = ni+1
    
#print (ni)
        

#print(n1,n2)

In [ ]:
y5 = (1,2,3,4,5,6,7)
print(y5[0:3])
len(y5)

In [ ]:
y1 = [1,2,3,4]
print(y1[0:4])
len(y1)

In [ ]:
y6 = [1,2,3,4,5]
for i in range(0,5+1):
    print (i)
len(y6)

In [ ]:
list is mutable
tuple is immutable

In [ ]:
"The quick brown fox jumps over the lazy dog" #==> True
"The quick brown fox jumped over the lazy dog" #==> False

#a = "James"
#'x' in a
#'x' not in a

#a = "The quick brown fox jumps over the lazy dog"
#b = "The quick brown fox jumped over the lazy dog"

a = input("input the letter> ")

def panagram():
   
    for i in a:
        if i == 's':
            print("True")
        else:
            print("False")
panagram()

In [ ]:
def panagram():   
    if a == b:
        print("True")
    else:
        print("False")

panagram("the quick brown fox jumps over the lazy dog") # > True
panagram("the quick brown fox jumped over the lazy dog") # > False

In [ ]:
a = "James"
#'e' in a
'J' not in a

In [ ]:
a = 'a' to 'z'
for i in a:
    print(i)

In [ ]:
for code in range(ord('a'), ord('z') + 1):
    print (chr(code))

In [ ]:
for i in range(97,122):
    print(chr(i))

In [9]:
a = (1,2,3,4,5,6,7,8,9,0)
#print(len(a))

for i in range():
    print(a)
#    a = a+1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [5]:
things = ['a','b','c','d']
print(things[0:])
print(len(things))

['a', 'b', 'c', 'd']
4

In [13]:
things = 'six sick sheep'
print(split(things))

NameError: name 'split' is not defined